@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/satoshi-medium.woff2") format("woff2"),
    url("../assets/fonts/satoshi-medium.woff") format("woff"),
    url("../assets/fonts/satoshi-medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "satoshi";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-wrapper {
  @apply w-full h-dvh overflow-hidden bg-white dark:bg-dark text-dark dark:text-white flex items-stretch;
}

.layout-wrapper .sidebar {
  @apply w-full h-full border-r dark:border-white border-dark border-opacity-10 dark:border-opacity-10 max-w-52 flex flex-col items-start justify-between py-2 px-2.5;
}

.main-layout {
  @apply flex flex-col h-full w-full;
}

.main-layout .header {
  @apply border-b dark:border-white border-dark border-opacity-10 dark:border-opacity-10 py-1.5 px-3 w-full flex items-center justify-between;
}

.main-layout .header button {
  @apply min-w-8 min-h-8 max-w-8 max-h-8 flex items-center justify-center hover:bg-white hover:bg-opacity-10 rounded-md;
}

.main-layout .header button svg {
  @apply w-4 h-4;
}

.layout-wrapper .sidebar .active-link {
  @apply bg-white bg-opacity-10 text-opacity-100;
}

.nav-link a,
.nav-link button {
  @apply w-full flex items-center gap-2 justify-between rounded-lg py-1.5 px-2 text-sm capitalize hover:bg-white hover:bg-opacity-10 text-white text-opacity-80;
}
